<div class='border'>
	<div class='chat-item'>
		<div class='chat-item__avatar'>
			<img class='avatar' src='../assets/avatar.jpg' alt='avatar' />
		</div>

		<div class='chat-item__text'>
			<h4 class='chat-item__name'>{{name}}</h4>
			<p class='chat-item__message'>{{message}}</p>
		</div>

		<div class='chat-item__info'>
			<button class='chat-item__delete'>X</button>
			<div class='chat-item__notifications'>
				<p class='chat-item__time'>{{time}}</p>
				<p class='chat-item__unread'>{{unread}}</p>
			</div>
		</div>
	</div>
</div>