{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "settings": {
    "import/resolver": "eslint-import-resolver-webpack",
    "import/extensions": [".js", ".js", ".ts"],
    "import/core-modules": ["nanoid"]
  },
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": ["warn", { "caseSensitive": false }],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "optionalDependencies": true, "peerDependencies": true }
    ],
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-console": "warn",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    "@typescript-eslint/no-non-null-assertion": "off",
    "no-use-before-define": [
      "warn",
      {
        "functions": false,
        "classes": false,
        "variables": true,
        "allowNamedExports": false
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ]
  }
}
