.input-field {
	display: flex;
	flex-direction: column-reverse;
	max-width: 20rem;
	margin: 0 auto;
	position: relative;
}

.input-field input {
	border: none;
	padding-left: 1rem;
	padding-top: 1rem;
	margin-top: 2rem;
	font-size: 1rem;
	border-bottom: 0.1rem solid #bdbdbd;
	outline: none;
}

.input-field label {
	color: #bdbdbd;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 1rem;
	padding-top: 3rem;
	cursor: text;
	transition: all 0.5s;
	pointer-events: none;
}

.input-field input:focus ~ label,
input:not(:placeholder-shown) ~ label {
	padding: 0;
	color: #164cff;
	transform: translateY(1rem) scale(0.8);
}

input:focus,
input:not(:placeholder-shown) {
	border-bottom: 0.1rem solid #212121;
}
