@import '../../styles/variables.scss';
.user {
  width: 510px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 6rem;
  &__image {
    width: 130px;
    height: 130px;
  }
  &__data,
  &__actions {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: 100%;
  }
  .action-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $color-text-dark;
    &__title {
      font-size: 1.4rem;
      color: $color-main-first;
      font-weight: 500;
      &_warning {
        color: $color-warning;
      }
    }
  }
}
