$font-family: 'Montserrat', sans-serif;
$color-text-dark: #999;
$color-text-light: #efefef;
$color-black: #000;
$color-light: #fff;
$color-main-first: #3369f3;
$color-main-second: #e4edfd;
$color-warning: #f00;
$laptop-width: 1280px;
$tablet-width: 992px;
$mobile-width: 320px;
