@import '../../styles/variables.scss';
.label {
    color: $color-text-dark;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 0.2rem;
    cursor: text;
    transition: all 0.5s;
    pointer-events: none;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.input input:focus~label,
input:not(:placeholder-shown)~label {
    padding: 0;
    color: $color-main-first;
    // transform: translateY(0.7rem) scale(0.7);
}

input:-internal-autofill-selected {
    background-color: $color-light;
}

input:focus,
input:not(:placeholder-shown) {
    border-bottom: 0.1rem solid $color-text-dark;
}