---
login-input:  {
    type: 'text',
    text: 'Login'

}
password-input:  {
    type: 'password',
    text: 'Password'

}

---

{{!< desktop}}

<main class="main">
    <form class="login-form" action="./main.html">
        
        <div class="login-form__group">
            <h3>Sign in</h3>
           {{> 'input/input' input-type=login-input.type input-text=login-input.text}}
            {{> 'input/input' input-type=password-input.type input-text=password-input.text}}
        </div>
       
        <div class="login-form__group">
            <a class="login-form__link" href="./main.hbs">{{> 'button/button' button-title='Login' btn-class='button button_confirm'}}</a>
            <a class="login-form__link" href="./signup.hbs">Create account</a>
        </div>
       
        
    </form>
   
</main>