

{{!< desktop}}

<main class="main">
    <form class="form">
        <div>
                {{> 'textInput/textInput' input-text='Login'}}
        </div>

        <div>
                {{> 'textInput/textInput' input-text='Password'}}
        </div>
           
       
        <button class="button button_confirm">{{confirm-text}}</button>
        <button class="button button_redirect">{{redirect-text}}</button>
    </form>
   
</main>