---
login-input:  {
    type: 'text',
    text: 'Login'

}
password-input:  {
    type: 'password',
    text: 'Password'

}

---

{{!< desktop}}

<main class="main">
    <form class="login-form">
        <div class="login-form__group">
           {{> 'textInput/textInput' input-type=login-input.type input-text=login-input.text}}
            {{> 'textInput/textInput' input-type=password-input.type input-text=password-input.text}}
        </div>
       
        <div class="login-form__group">
            {{> 'button/button' button-title='Login' btn-class='button button_confirm'}}
            {{> 'button/button' button-title='Create account' btn-class='button button_redirect'}}
        </div>
       
        
    </form>
   
</main>