{{!< desktop}}

<main class='main'>
	<section class='left'>
		<div class='top-list'>
			{{> 'searchBar/searchBar'}} 
		</div>
		
		<div class='chat-list'>
			{{> 'chatItem/chatItem'}} 
		</div>
	</section>
	<section class='right'>
		<h2>Select chat</h2>
	</section>
</main>