{{!< desktop}}

<main class='main'>
	<div class='profile'>
		{{> profileBackButton/profileBackButton path="./main.hbs"}}
		
		<section class='profile__container'>
			{{> user/user}}
		</section>
	</div>

</main>
